* Name : Aniket Kale
* Predictive Analytics DSS680 Project.

In [1]:
# import important libraries
import pandas as pd

In [2]:
# cleaned data from last notebook
data = pd.read_csv("loan_2007")

In [3]:
data.shape

(39239, 24)

In [4]:
data.isnull().sum()

loan_amnt                 0
term                      0
installment               0
grade                     0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
loan_status               0
purpose                   0
title                    10
addr_state                0
dti                       0
delinq_2yrs               0
earliest_cr_line          0
inq_last_6mths            0
open_acc                  0
pub_rec                   0
revol_bal                 0
revol_util               50
total_acc                 0
last_credit_pull_d        2
pub_rec_bankruptcies    697
fico_avg                  0
dtype: int64

In [5]:
data["pub_rec_bankruptcies"].value_counts()

0.0    36872
1.0     1665
2.0        5
Name: pub_rec_bankruptcies, dtype: int64

In [6]:
# we have more we have more than 1 percent missing values in the pub_rec columns.
data = data.drop("pub_rec_bankruptcies", axis = 1)
data.shape

(39239, 23)

In [7]:
# deleted rows which has missing values.
data = data.dropna(how = "any")
data.shape

(39177, 23)

In [8]:
# lets check we have any Null values in data
data.isnull().sum()

loan_amnt              0
term                   0
installment            0
grade                  0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
loan_status            0
purpose                0
title                  0
addr_state             0
dti                    0
delinq_2yrs            0
earliest_cr_line       0
inq_last_6mths         0
open_acc               0
pub_rec                0
revol_bal              0
revol_util             0
total_acc              0
last_credit_pull_d     0
fico_avg               0
dtype: int64

* We dont have any null values in data. so now we can worked on the next part

In [9]:
y = data.loan_status

In [10]:
data.head()

,loan_amnt,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,fico_avg
0,5000.0,36 months,162.87,B,10+ years,RENT,24000.0,Verified,1,credit_card,...,0.0,Jan-85,1.0,3.0,0.0,13648.0,83.70%,9.0,Sep-16,737.0
1,2500.0,60 months,59.83,C,< 1 year,RENT,30000.0,Source Verified,0,car,...,0.0,Apr-99,5.0,3.0,0.0,1687.0,9.40%,4.0,Sep-16,742.0
2,2400.0,36 months,84.33,C,10+ years,RENT,12252.0,Not Verified,1,small_business,...,0.0,Nov-01,2.0,2.0,0.0,2956.0,98.50%,10.0,Sep-16,737.0
3,10000.0,36 months,339.31,C,10+ years,RENT,49200.0,Source Verified,1,other,...,0.0,Feb-96,1.0,10.0,0.0,5598.0,21%,37.0,Apr-16,692.0
4,5000.0,36 months,156.46,A,3 years,RENT,36000.0,Source Verified,1,wedding,...,0.0,Nov-04,3.0,9.0,0.0,7963.0,28.30%,12.0,Jan-16,732.0

In [11]:
data.columns

Index(['loan_amnt', 'term', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'last_credit_pull_d',
       'fico_avg'],
      dtype='object')

In [12]:
# we can see the column length
col = ['home_ownership', 'verification_status', 'emp_length', 'term', 'addr_state']
for row in col:
    print(data[row].value_counts())

RENT        18677
MORTGAGE    17381
OWN          3020
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
Not Verified       16809
Verified           12515
Source Verified     9853
Name: verification_status, dtype: int64
10+ years    8715
< 1 year     4542
2 years      4344
3 years      4050
4 years      3385
5 years      3243
1 year       3207
6 years      2198
7 years      1738
8 years      1457
9 years      1245
n/a          1053
Name: emp_length, dtype: int64
 36 months    29041
 60 months    10136
Name: term, dtype: int64
CA    7019
NY    3757
FL    2831
TX    2693
NJ    1825
IL    1513
PA    1493
VA    1388
GA    1381
MA    1322
OH    1197
MD    1039
AZ     863
WA     830
CO     777
NC     772
CT     738
MI     718
MO     677
MN     608
NV     488
SC     469
WI     447
OR     441
AL     441
LA     432
KY     319
OK     294
KS     264
UT     255
AR     241
DC     211
RI     197
NM     187
WV     174
HI     170
NH     169
DE     113
MT      84
WY      83
AK      79
SD      61
VT      53
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

In [13]:
# lets find out the unique values of purposr column.
data["purpose"].value_counts()

debt_consolidation    18355
credit_card            5073
other                  3921
home_improvement       2944
major_purchase         2178
small_business         1792
car                    1534
wedding                 940
medical                 688
moving                  580
vacation                377
house                   372
educational             320
renewable_energy        103
Name: purpose, dtype: int64

In [14]:
# same for the title
data["title"].value_counts()

Debt Consolidation                           2142
Debt Consolidation Loan                      1670
Personal Loan                                 650
Consolidation                                 501
debt consolidation                            495
Credit Card Consolidation                     354
Home Improvement                              350
Debt consolidation                            331
Small Business Loan                           317
Credit Card Loan                              310
Personal                                      306
Consolidation Loan                            255
Home Improvement Loan                         243
personal loan                                 231
personal                                      217
Loan                                          210
Wedding Loan                                  206
Car Loan                                      198
consolidation                                 197
Other Loan                                    187
Credit Card Payoff                            153
Wedding                                       152
Major Purchase Loan                           144
Credit Card Refinance                         143
Consolidate                                   126
Medical                                       120
Credit Card                                   115
home improvement                              109
My Loan                                        94
Credit Cards                                   92
                                             ...
Priorities                                      1
Steele Loan                                     1
Household Consolidation                         1
iFund Traders Professional Trading Course       1
21k Loan                                        1
Making the Change                               1
Personal needs                                  1
Vehicle purchase loan                           1
twotonewilly                                    1
Jo-Loan                                         1
future                                          1
Buy a Car                                       1
Mad downpayment                                 1
Internet Startup Working Capital                1
Bailout 2012                                    1
Joe's CC Pay Off Loan                           1
Paying down some high rate credit cards         1
Home improvement Palmetto Bay                   1
Generic                                         1
Bed Room set for my son                         1
your rate is better than my rate                1
tk1                                             1
MAKING LIFE EASIER                              1
Help me consolidate two credit cards            1
Home improvement short term loan                1
my daughters wedding                            1
Bills Loan                                      1
WEDDING NIGHTMARE                               1
Keiths Loan                                     1
Selling House Moving Loan                       1
Name: title, dtype: int64

In [15]:
data.emp_length.value_counts()

10+ years    8715
< 1 year     4542
2 years      4344
3 years      4050
4 years      3385
5 years      3243
1 year       3207
6 years      2198
7 years      1738
8 years      1457
9 years      1245
n/a          1053
Name: emp_length, dtype: int64

In [16]:
# Now we have to set the Mapping dict for the above column.
map_dict = {"emp_length":{"10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0}}

In [17]:
# remove columns which are not important.
data.columns
#data = data.drop(["last_credit_pull_d", "earliest_cr_line", "addr_state", "title"], axis=1)

Index(['loan_amnt', 'term', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'last_credit_pull_d',
       'fico_avg'],
      dtype='object')

In [18]:
data = data.replace(map_dict)

In [19]:
data["revol_util"] = data.revol_util.str.rstrip("%").astype(float)

# Dummy Variable

In [20]:
cat_col = ["home_ownership", "verification_status", "emp_length", "purpose", "term"]
dummy_df = pd.get_dummies(data[cat_col])
data = pd.concat([data, dummy_df], axis =1)

In [21]:
data = data.drop(cat_col, axis =1)

In [22]:
data.shape

(39177, 42)

In [23]:
data.head()

,loan_amnt,installment,grade,annual_inc,loan_status,title,addr_state,dti,delinq_2yrs,earliest_cr_line,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,162.87,B,24000.0,1,Computer,AZ,27.65,0.0,Jan-85,...,0,0,0,0,0,0,0,0,1,0
1,2500.0,59.83,C,30000.0,0,bike,GA,1.00,0.0,Apr-99,...,0,0,0,0,0,0,0,0,0,1
2,2400.0,84.33,C,12252.0,1,real estate business,IL,8.72,0.0,Nov-01,...,0,0,0,0,0,1,0,0,1,0
3,10000.0,339.31,C,49200.0,1,personel,CA,20.00,0.0,Feb-96,...,0,0,0,1,0,0,0,0,1,0
4,5000.0,156.46,A,36000.0,1,My wedding loan I promise to pay back,AZ,11.20,0.0,Nov-04,...,0,0,0,0,0,0,0,1,1,0

In [24]:
data = data.drop(["title", "addr_state", "earliest_cr_line", "last_credit_pull_d","grade"], axis =1)

In [25]:
data.head()

,loan_amnt,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,162.87,24000.0,1,27.65,0.0,1.0,3.0,0.0,13648.0,...,0,0,0,0,0,0,0,0,1,0
1,2500.0,59.83,30000.0,0,1.00,0.0,5.0,3.0,0.0,1687.0,...,0,0,0,0,0,0,0,0,0,1
2,2400.0,84.33,12252.0,1,8.72,0.0,2.0,2.0,0.0,2956.0,...,0,0,0,0,0,1,0,0,1,0
3,10000.0,339.31,49200.0,1,20.00,0.0,1.0,10.0,0.0,5598.0,...,0,0,0,1,0,0,0,0,1,0
4,5000.0,156.46,36000.0,1,11.20,0.0,3.0,9.0,0.0,7963.0,...,0,0,0,0,0,0,0,1,1,0

In [26]:
data.dtypes

loan_amnt                              float64
installment                            float64
annual_inc                             float64
loan_status                              int64
dti                                    float64
delinq_2yrs                            float64
inq_last_6mths                         float64
open_acc                               float64
pub_rec                                float64
revol_bal                              float64
revol_util                             float64
total_acc                              float64
fico_avg                               float64
home_ownership_MORTGAGE                  uint8
home_ownership_NONE                      uint8
home_ownership_OTHER                     uint8
home_ownership_OWN                       uint8
home_ownership_RENT                      uint8
verification_status_Not Verified         uint8
verification_status_Source Verified      uint8
verification_status_Verified             uint8
purpose_car                              uint8
purpose_credit_card                      uint8
purpose_debt_consolidation               uint8
purpose_educational                      uint8
purpose_home_improvement                 uint8
purpose_house                            uint8
purpose_major_purchase                   uint8
purpose_medical                          uint8
purpose_moving                           uint8
purpose_other                            uint8
purpose_renewable_energy                 uint8
purpose_small_business                   uint8
purpose_vacation                         uint8
purpose_wedding                          uint8
term_ 36 months                          uint8
term_ 60 months                          uint8
dtype: object

In [27]:
cleaned_data_2007 = pd.DataFrame(data)

In [29]:
cleaned_data_2007.to_csv("cleaned_data_2007", index=False)

In [ ]:
# Now we have all numerical features and we are ready to build the Machine Leanring Algorithm.